.home-body {
  width: 100%;
}
.nav-vector {
  position: relative;
  width: 100vw;
  height: 50%;
  left: 0px;
  top: -40px;
  z-index: -1;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(180deg);
}

.home_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100;
  background-color: #e5e5e5;
  padding: 60px;
}

.home_description p {
  width: 82%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-align: center;
  padding-top: 5px;
 
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin-top: 30px;

}

ul.slickdots {
  width: 100vh !important;
}
