.carousel-container{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}


.carousel-container p {
  position: relative;
  height: 127px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 157.5%;
}



/* Carousel slide descriptions */

.carousel-container .description1{
  position: relative;
  top: -1rem;
  left: 13rem;
  width: 575px;
  height: 127px;
}

.carousel-container 
.description2 
.description3 {
  position: relative;
  top: 1rem;
  left: 19rem;
  width: 597px;
}


/* Carousel slide images */

.slide-img1  {
  position: relative;
  top: -2rem;
  left: 10rem;
  width: 37%;
  height: 37%;
  background-repeat:no-repeat;
}

.slide-img2 {
  position: relative;
  top: -1rem;
  left: 13rem;
  width: 25%;
  height: 25%;
  background-repeat:no-repeat;
}

.slide-img3 {
  position: relative;
  top: 4rem;
  left: 11rem;
  width: 33%;
  height: 33%;
  background-repeat:no-repeat;
}